html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    width: 100vw;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 100%;
    padding: 1rem;
    text-align: center;
}

section{
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero{
    display: flex;
    height: 80vh;
    flex-direction: column;
}

.navContainer{
    width: 80%;
    padding-top: 2rem;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLogo{
    text-align: start;
    font-size: 24px;
    font-weight: 600;
}

.navTxt a{
    padding-left: 1rem;
    padding-right: 1rem;
}

.heroContainer{
    display: flex;
    width: 70%;
}

.heroText{
    width: 50%;
    text-align: start;
}

.heroImageContainer{
    width: 50%;
}

.heroImageContainer img{
    width: 32rem;
    height: 16rem;
}

.heroText{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.HeroBtn{
    color: white;
    background: #3882F6;
    border: none;
    border-radius: .75rem;
    width: 25%;
    padding: .75rem;
    font-size: 18px;
    font-weight: 600;
}

.darkBckgndColor{
    background-color: #1F2937;
    color: #F9FAF8;
}

.HeroMainTxt{
    font-size: 48px;
    font-weight: 600;
}

.HeaderLogoText{
    font-size: 24px;
}

.sectional{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    color: #1F2937;
}

.sectional-title{
    width: 100%;
    font-size: 36px;
    font-weight: bold;
}

.sectional-cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardimg img{
    width: 12rem;
    border-radius: .5rem;
}

.card p{
    padding: 1rem;
}

.quote{
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    font-size: 36px;

}

.quote-text{
    width: 70%;
    margin: 2rem;
}

.quote-author{
    font-weight: 600;
}

.cta{
    display: flex;
    width: 100%;
    background-color: white;
}

.ctaCont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40%;
    border-radius: .5rem;
}

.ctaBackground{
    background-color: #3882F6;
}

.ctatext{
    width: 60%;
    text-align: left;
}

.ctaBtn{
    border-radius: 0.25rem;
    background: none;
    color: #E5E7EB;
    padding: .45rem 3rem;
    border: 3px solid #E5E7EB;
    font-weight: 600;
    font-size: 18px;
}

.ctaHeaderTxt{
    margin-bottom: .5rem;
    font-size: 36px;
    font-weight: 600;
    color: white;
}

.secondaryTxt{
    font-size: 18px;
    color: #E5E7EB;
}